.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  /* height: 400px; */
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  height: 180px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.search {
  margin: 10px;
}

.login {
  padding: 5px;
  margin:15px 15px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 10px;
}
